#Order{
    color: grey;
}

#ordersummery{
    border: 1px solid black;
    width: 30%;
    margin:auto;
    // align-items: center;
}
#price{
    color: grey; 
}

#orderD{
    display: flex;
    justify-content:space-around;
}

#orderDD{
    display: flex;
    justify-content:space-around;
    padding:10px;

}