header{
    background-color:black;
    height: 80px;
}
h1{
    color: white;
    text-align: center;
}

#category{
    color:black
}

#cartcon{
    display:inline-block;
    position: absolute;
    right: 80px;
    top: 50px;
   
}
#cart{
    display:inline-block;
    color: white;
    // position: relative;
    // left: 1800px;
    // bottom: 80px;
  
}

#cart:hover{
    
    background-color: aqua;
}

#cartul{
    border: 1px dashed black;
    background-color: rgb(229, 219, 248);
    padding: 0
}

li{
    // border: 1px solid black;
    display: block;
    // padding: 7px;
    // background-color: rgb(229, 219, 248);
    height: 70px;
}

#carhead{
    display: inline-block;
}

// #space{
//     margin-bottom: 50px;
// }